footer {
    color: black;
    height: 40px;
    width: 100%;
    border-top: 1px solid #CCCCCC;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 0;
}
