.filters {
    background-color: white;
    height: 55px;
    width: 700px;
    top: -15px;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: flex;
    align-items: center;
    position: relative;
}

button {
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 40px;
    width: 170px;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    position: relative;
    
    cursor: pointer;
    margin-left: auto; /* Pushes the button to the right */
    margin-right: 20px; /* Adds 30px space from the right border */
}

 button:hover {
    opacity: 0.9;
} 


.locations {
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
    border-right: 1px solid #CCCCCC;

}
.amenities {
    height: 100%;
    width: 25%;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h3 {
    font-weight: 600;
    margin: 0;
}
h4 {
    font-weight: 400;
    font-size: 14px;
    margin: 0;
}

.locations .popover {
    display: none;
    background-color: #FAFAFA;
    width: 22%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    list-style-type: none;
    padding: 10px;
    position: absolute;
    top: 41px;
    left: 0;
    padding: 25px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.amenities .popover {
    display: none;
    background-color: #FAFAFA;
    width: 20%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    list-style-type: none;
    padding: 10px;
    position: absolute;
    top: 41px;
    left: 29.3%;
    padding-left: 40px;
    padding-top: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.popover li {
    margin-bottom: 10px;
}

.popover h2 {
    font-size: 16px;
    margin: 0;
}

.locations:hover .popover,
.amenities:hover .popover {
    display: block;
}
